// Colors
$black: #333333;
$gray: #888888;
$lightGray: #cccccc;
$lighterGray: #f5f5f5;
$white: #ffffff;

$orange: #ff6600;
$green: #00ac35;
$blue: #3194e4;
$yellow: #f3e724; //#ede24d

$link: darken($blue, 15%);


// Font Sizes
$normal: 16px;

$big:     $normal + 3px;
$bigger:  $big    + 3px;
$biggest: $bigger + 3px;

$small:    $normal - 2px;
$smaller:  $small  - 2px;
$smallest: $smaller  - 2px;


// Font family
$geometric: "Avenir Next", "Verdana", sans-serif;
$grotesk: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$humanist: "myriad-pro", "Myriad Pro", "Segoe UI", "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif;


// Screen Sizes
$smartphone: 540px;
$tablet:     900px;


// Content Width
$width: 720px;

// Width for big images
$image_width: 900px;



// mixins

@mixin clearfix{
	&:after{
	    content: " ";
	    clear: both;
	    display: block;
	}
}

@mixin box-text($background-color, $font-size){
	text-transform: uppercase;
	font-family: $geometric;
	font-weight: bold;
	line-height: 2em;
	color: $white;
	font-size: $font-size;
	background-color: $background-color;
	display: inline-block;

	padding: 0em 0.7em;
}

@mixin anchor($color1: inherit, $under1: none, 
			  $color2: $link, $under2: underline){
	a:link, a:visited{
		color: $color1;
	    text-decoration: $under1;
	}
	a:hover{
		color: $color2;
	    text-decoration: $under2;
	}
}

@mixin respond{
	@media only screen and (max-width: $width){
		@content;
	}	
}

@mixin button($color){
	@include box-text($background-color: $color,
	          $font-size: $small);
	&:hover{
	    background-color: darken($color, 5%);
	}
}